body {
  font-family: 'Montserrat';
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

/* tile section */
.title_container {
  padding: 3% 15% 7%;
}

/* navbar */
.navbar {
  font-family: 'Ubuntu';
  font-size: 1.15rem;
  font-weight: 300;
  margin-bottom: 5rem;
  position: relative;
  /* left: -16px; */
}


.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  /* margin-left: -1rem; */
}

.nav-item {
  margin-right: 1rem;
}

.last_nav_item {
  margin-right: 0;
}

/* title Text */
.h1_title {
  color: white;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 3rem;
}

/* title buttons */
.btn {
  font-weight: 500;
}

.btn i {
  width: 20px;
}

/* img in title */
.img_div_title {
  /* text-align: center; */
}

.img_phone_title {
  margin-top: 2rem;
  position: absolute;
  right: 20%;
  transform: rotate(25deg);
  width: 60%;
}

/* screen adjustments */
@media (max-width: 992px) {
  .title_container {
    padding: 2rem;
    text-align: center;
  }

  .navbar-nav {
    position: relative;
    text-align: left;
  }

  .img_phone_title {
    left: 0.5rem;
    position: relative;
    transform: rotate(0);
    width: 40%;
  }
}

/* featurs section */
.container_features {
  background-color: #fff;
  padding: 5% 10%;
  position: relative;
}

.div_featurs {
  text-align: center;
}

.icons_featurs {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icons_featurs:hover {
  color: #ff4668;
}

.h3_features {
  font-size: 1.5rem;
  font-weight: 800;
}

.div_featurs p {
  /* select all p in the class of 'div_featurs' */
  color: #8f8f8f;
}

/* testimonials section */
/* @media screen try . in order to fix "jump" on screen when h2 of one testimony is one line longer.*/
@media (min-width: 1068px) and (max-width: 1154px) {
  div.carousel-inner {
    height: 490px;
  }
}

@media  (min-width: 830px) and (max-width: 867px) {
  div.carousel-inner {
    height: 504px;
  }
}

@media  (min-width:657px) and (max-width: 830px) {
  div.carousel-inner {
    height: 552px;
  }
}

@media  (min-width:583px) and (max-width: 610px) {
  div.carousel-inner {
    height: 575px;
  }
}

@media (max-width: 571px) {
  div.carousel-inner {
    height: 650px;
  }
}
@media (max-width: 438px) {
  .carousel-inner h2 {
    font-size: 2.3rem;
  }
}

.container_testimonials {
  background-color: #ff4668;
  color: #fff;
  position: relative;
  text-align: center;
}

.carousel-item {
  padding: 8% 12% 0;
}

.h2_testimonials {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.img_testimonials {
  border-radius: 100%;
  margin: 2rem;
  width: 13%;
}

/* Press section */
.container_press {
  background-color: #ff4668;
  padding: 5% 5%;
  text-align: center;
}

.img_press {
  margin: 0.8rem;
  width: 50%;
}
/* pricing */
.container_pricing{
  text-align: center;
}
.row_pricing {
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 5% 10%;
}

.card-header {
  background-color: #ff4668;
}

.card-body {
  background-color: #ef8172;
}
.li_cards_pricing{
  white-space: nowrap;
}
/* section cta */
#cta {
  padding: 10% 16% 7%;
  text-align: center;
}

.h3_cta {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}


/* footer */
#footer {
  padding-top: 1rem;
  text-align: center;
}
a i {
  margin: 1rem 1rem 0;
}

.p_footer{
  font-size: 0.8rem;
  position: relative;
  bottom: -1rem;
}
